---
import Layout from '../layouts/Layout.astro'
import Content from '../components/Content.astro'
import { ContentVisibility } from 'types'
import Information from 'src/components/Information.astro'

const contentVisibility = ContentVisibility.visible
---

<Layout title={`Vf Pill | Content-visibility: ${contentVisibility}`}>
  <Information contentVisibility={contentVisibility} />
  <section>
    <Content />
  </section>
</Layout>

<style>
  section {
    /* Default values */
    --content-visibility: visible;
    --contain-intrinsic-size: unset;
  }
</style>
