---
import { ContentToRender, ContentVisibility } from 'types'
import LoadingSpinner from './LoadingSpinner.astro'

export interface Props {
  index: number
  contentToRender: ContentToRender
  contentVisibility: ContentVisibility
}

const { index, contentToRender, contentVisibility } = Astro.props
---

<li
  class:list={[
    'card',
    {
      'content-visibility-visible': contentVisibility === ContentVisibility.visible,
      'content-visibility-auto': contentVisibility === ContentVisibility.auto,
    },
  ]}
>
  <p class='text'>Elemento {index + 1}</p>
  {contentToRender === ContentToRender.spinner && <LoadingSpinner />}
  {contentToRender === ContentToRender.image && <img src='/images/header-secondary.png' />}
</li>
<style>
  /* Default value */
  .content-visibility-visible {
    content-visibility: visible;
  }

  .content-visibility-auto {
    content-visibility: auto;
  }
  .card {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    color: black;
  }

  .text {
    margin: 0;
  }

  img {
    height: 100px;
  }
</style>
