<section>
  <h1>Random blog</h1>
  <article>
    <h2>Lorem ipsum</h2>
    <img src='/images/image1.jpg' alt='' />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni atque blanditiis nesciunt quod non ut provident
      officiis eius laboriosam obcaecati iure aut, repellendus veritatis esse quibusdam, doloribus incidunt enim culpa!
    </p>
  </article>
  <article>
    <h2>Lorem ipsum</h2>
    <img src='/images/image2.jpg' alt='' />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni atque blanditiis nesciunt quod non ut provident
      officiis eius laboriosam obcaecati iure aut, repellendus veritatis esse quibusdam, doloribus incidunt enim culpa!
    </p>
  </article>
  <article>
    <h2>Lorem ipsum</h2>
    <img src='/images/image3.jpg' alt='' />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni atque blanditiis nesciunt quod non ut provident
      officiis eius laboriosam obcaecati iure aut, repellendus veritatis esse quibusdam, doloribus incidunt enim culpa!
    </p>
  </article>
  <article>
    <h2>Lorem ipsum</h2>
    <img src='/images/image4.jpg' alt='' />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni atque blanditiis nesciunt quod non ut provident
      officiis eius laboriosam obcaecati iure aut, repellendus veritatis esse quibusdam, doloribus incidunt enim culpa!
    </p>
  </article>
  <article>
    <h2>Lorem ipsum</h2>
    <img src='/images/image5.png' alt='' />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni atque blanditiis nesciunt quod non ut provident
      officiis eius laboriosam obcaecati iure aut, repellendus veritatis esse quibusdam, doloribus incidunt enim culpa!
    </p>
  </article>
  <article>
    <h2>Lorem ipsum</h2>
    <img src='/images/image6.jpg' alt='' />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni atque blanditiis nesciunt quod non ut provident
      officiis eius laboriosam obcaecati iure aut, repellendus veritatis esse quibusdam, doloribus incidunt enim culpa!
    </p>
  </article>
  <article>
    <h2>Lorem ipsum</h2>
    <img src='/images/image7.jpg' alt='' />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni atque blanditiis nesciunt quod non ut provident
      officiis eius laboriosam obcaecati iure aut, repellendus veritatis esse quibusdam, doloribus incidunt enim culpa!
    </p>
  </article>
  <article>
    <h2>Lorem ipsum</h2>
    <img src='/images/image8.jpg' alt='' />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni atque blanditiis nesciunt quod non ut provident
      officiis eius laboriosam obcaecati iure aut, repellendus veritatis esse quibusdam, doloribus incidunt enim culpa!
    </p>
  </article>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 6px;
    color: black;
  }

  article {
    content-visibility: var(--content-visibility);
  }

  h1 {
    font-size: 2rem;
  }

  img {
    width: 300px;
    border-radius: 6px;
  }

  @media only screen and (min-width: 768px) {
    img {
      width: 600px;
    }
  }
</style>
