---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href='/'>Content-visibility: visible</a>
        <a href='/auto'>Content-visibility: auto</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  header {
    margin: auto;
    width: fit-content;
  }

  nav {
    display: flex;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    font-size: 1.4rem;
  }

  main {
    --accent: #820000;
    --accent-opacity: #82000033;
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }
</style>
